# Projet IA -- clustering

In [1]:
from __future__ import division
import matplotlib.pyplot as plt
import pandas as pds
import seaborn as sns
import numpy as np
import random
from sklearn.cluster import KMeans
from sklearn import metrics
from scipy import stats
%matplotlib inline
np.random.seed(10)
random.seed(10)

## Data import

In [3]:
df = pds.read_csv('./Data/Data.txt', sep="\t") # load a pandas dataframe from csv

df.head()
df.tail()

,Time,Time Code,Country Name,Country Code,"Annual freshwater withdrawals, total (billion cubic meters) [ER.H2O.FWTL.K3]","Children out of school, primary [SE.PRM.UNER]",CO2 emissions (kt) [EN.ATM.CO2E.KT],"Electricity production from oil, gas and coal sources (% of total) [EG.ELC.FOSL.ZS]","Electricity production from renewable sources, excluding hydroelectric (% of total) [EG.ELC.RNWX.ZS]","Life expectancy at birth, total (years) [SP.DYN.LE00.IN]","PM2.5 air pollution, mean annual exposure (micrograms per cubic meter) [EN.ATM.PM25.MC.M3]","Population, total [SP.POP.TOTL]",Rural population (% of total population) [SP.RUR.TOTL.ZS],Surface area (sq. km) [AG.SRF.TOTL.K2],Total greenhouse gas emissions (kt of CO2 equivalent) [EN.ATM.GHGT.KT.CE],Urban population [SP.URB.TOTL],Women who believe a husband is justified in beating his wife when she refuses sex with him (%) [SG.VAW.REFU.ZS]
212,2013,YR2013,Virgin Islands (U.S.),VIR,NaN,NaN,NaN,NaN,NaN,78.868293,16.683942,108044.0,4.930,350.0,NaN,102717.0,NaN
213,2013,YR2013,West Bank and Gaza,PSE,NaN,32923.0,2438.555,NaN,NaN,72.954000,18.679860,4169506.0,25.137,6020.0,NaN,3121417.0,NaN
214,2013,YR2013,"Yemen, Rep.",YEM,NaN,599564.0,25496.651,100.000000,0.000000,64.291000,59.399450,25576322.0,66.441,527970.0,NaN,8583158.0,32.4
215,2013,YR2013,Zambia,ZMB,NaN,363385.0,3956.693,0.142857,0.000000,59.982000,27.650733,15153210.0,59.135,752610.0,NaN,6192359.0,NaN
216,2013,YR2013,Zimbabwe,ZWE,NaN,398579.0,11675.728,46.060606,1.734587,58.053000,23.448376,15054506.0,67.346,390760.0,NaN,4915898.0,NaN

## Data cleaning

## K-means

## DBSCAN